<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>609681700745-0s303jr3g50qvnnkoutt3v3btvsvueg7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609681700745-0s303jr3g50qvnnkoutt3v3btvsvueg7</string>
	<key>API_KEY</key>
	<string>AIzaSyCBgnFz0XbjsVDfMSsXhBQ3CUJW4za9KLs</string>
	<key>GCM_SENDER_ID</key>
	<string>609681700745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.market</string>
	<key>PROJECT_ID</key>
	<string>market-4fabd</string>
	<key>STORAGE_BUCKET</key>
	<string>market-4fabd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609681700745:ios:0045cdca2f0218669a5358</string>
</dict>
</plist>